<div class="container">
<div class="col-xs-12 col-md-6">
	<p class="games">games:</p>
		<% @games.each do |game| %>
		<tr>
		<table id="<%= game.id %>" class="gameData">
			<tr>
				<td colspan="4"><%= game.created_at.strftime("%l:%M %p - %b %d, %Y")%></td>
			</tr>
			<tr>
				<td><%= game.home_name %></td>
				<td><%= game.away_name %></td>
				<td><%= resume_watch(game) %></td>
				<% if game.my_game?(current_user) %>
					<td class="deleteGame"><a><h5> X </h5></a></td>
				<% else %>
					<td><a><h3></h3></a></td>
				<% end %>
			</tr>
			<tr>
				<td><%= game.home_score %></td>
				<td><%= game.away_score %></td>
				<td><%= game.display_inning %></td>
				<td><%= game.display_outs %></td>
			</tr>
		</table>
		</tr>
		<% end %>
	</div>
</div>