<script>
	$(function() {
    FastClick.attach(document.body);
	});
</script>

<div id="<%= @game.id %>"class="umpCount container">
	<div class="row">
		<div class="strikesBox col-xs-6">Strikes
			<p class="strikes">0</p>
		</div>
		<div class="clear col-xs-6"><p>CLEAR STRIKES</p></div>
	</div>
	<div class="row">
		<div class="outsBox col-xs-6">OUTS
			<p class="outs"><%= @game.outs %></p>
		</div>
		<div class="inningTr col-xs-6">INNING
			<p class="inning"><%= @game.display_inning %></p>
		</div>
	</div>					
	<div class="row">
		<div class="awayBox col-xs-6"><p class="away names"><%= @game.away_name %></p>
			<p class="awayS score"><%= @game.away_score %></p>
		</div>			
		<div class="homeBox col-xs-6"><p class="home names"><%= @game.home_name %></p>
			<p class="homeS score"><%= @game.home_score %></p>
		</div>
	</div>
	<div class="row">
		<div class="undo col-xs-6"><p>UNDO</p> </div>
		<!-- <div class="nameTeams col-xs-4"><p>RENAME</p></div> -->
		<div class="reset col-xs-6"><p> <%= link_to("Back", root_path) %></p></div>
	</div>
</div>